<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceDirectory" value="C:\test\testSourceDirectory"/>
    <add key="DestinationDirectory" value="C:\test\testDestinationDirectory"/>
    <add key="ArchiveDirectory" value="C:\test\Archive"/>
  </appSettings>
</configuration>