<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceDirectory" value="C:\TestZipping\TestSource"/>
    <add key="DestinationDirectory" value="C:\TestZipping\TestDestination"/>
    <add key="ArchiveDirectory" value="C:\TestZipping\TestArchive"/>
    <add key="IsNestedFolders" value="false"/>
  </appSettings>
</configuration>